/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 16, 2018, 8:33:01 PM
    Author     : Adetunji
*/

.raisedbox { 
    padding: 10px;
    border: 1px solid #77aaff;   
}


.tablebordermain{
    
    background-clip: padding-box;
    //background-color: #e3e7ed;
    color: blue;
    border: 1px solid #c5cddb;
    border-radius: 5px;
    width: 100%;
    padding:4px 
  
}

.tdbordermain{
    
    background-clip: padding-box;
    background-color: #f0f8ff;
    color: blue;
    border: 3px solid #c5cddb;
    border-radius: 5px;
    width: 10%;
  
}

.tdborder{
    
    background-clip: padding-box;
    background-color: #f0f8ff;
    color: blue;
    border: 4px solid #c5cddb;
    border-radius: 10px;
    width: 20%; 
}

.imgborder{
    
    background-clip: padding-box;
    color: blue;
    border: 3px solid #c5cddb;
    border-radius: 10px;
    width: 5%; 
}

.tdmenuborder{
    
    background-clip: padding-box;
    background-color: #e3e7ed;
    color: blue;
    border: 3px solid #c5cddb;
    border-radius: 15px;
    width: 10%;
  
}

.smalltableborder{
    
    background-clip: padding-box; 
    //border: 3px solid #c5cddb;
    border-radius: 10px;
    width: 25%;
  
}

.mediumtableborder{
    
    background-clip: padding-box; 
    border: 3px solid #c5cddb;
    border-radius: 10px;
    width: 40%;
  
}

.modal-body {padding: 2px 16px;}



